@keyframes grow {
    from {font-size: 18px;}
    to {font-size: 24px; color:purple;}
}

@keyframes move {
0% {left: 0%}
25% {left: 10%}
50% {left: 25%}
75% {left: 10%}
95% {left: 0.1%}
}

div {
    font-size: 24px; 
    color:purple;
    margin-left: 5px;
    
}

.move {
    position: relative;
    animation-name: move;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    color: orange;
}

iframe {
    
    overflow:hidden;
    border: 3px solid green;
    width:420px; 
    height:725px; 

  }